<style>
  * { font-family: Tahoma; }
</style>
<div align="center">
<h1> <%= @game.current_turn.name %> attacks <%= @game.defending_player.name %> </h1>
<h2> Used <%= @type %> and dealt <%= @game.defending_player.last_damamge %>HPs damage! </h2>

<% if @type == "Poison Sting" %>
  <h3> <%= @game.defending_player.name %> is poisoned </h3>
<% end %>

<% if @type == "Thunder Wave" %>
  <h3> <%= @game.defending_player.name %> is paralysed </h3>
<% end %>

<% if @type == "Hypnosis" %>
  <h3> <%= @game.defending_player.name %> is asleep </h3>
<% end %>

<form action="/poison-check" method="post">
  <input type="submit" value="OK">
</form>
</div>
