<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="opponents-title">
    <h1> <%= @game.player_1.name.upcase %> vs. <%= @game.player_2.name.upcase %> </h1>
  </div>
  <div id="battle-div">
    <div class="player-image-div">
      <img src="images/unicorn.jpg" class="player-image">
      <h2> <%= @game.player_1.name %>: <span id="p1-hp"><%= @game.player_1.hit_points %></span>HP</h2>
      <span id="p1-paralysed" class="para-status"><b> PARALYSED </b></span>
      <span id="p1-sleeping" class="sleep-status"><b> SLEEPING </b></span>
      <span id="p1-poisoned" class="pois-status"><b> POISONED </b></span>
      <span><b></b></span>
    </div>
    <div id="attack-space">
    </div>
    <div class="player-image-div">
      <img src="images/dragon.jpg" class="player-image">
      <h2> <%= @game.player_2.name %>: <span id="p2-hp"><%= @game.player_2.hit_points %></span>HP</h2>
      <span id="p2-paralysed" class="para-status"><b> PARALYSED </b></span>
      <span id="p2-sleeping" class="sleep-status"><b> SLEEPING </b></span>
      <span id="p2-poisoned" class="pois-status"><b> POISONED </b></span>
      <span><b></b></span>

    </div>
  </div>
  <div id="gameplay-box">
    <h2 id="gp-text"><%= @game.current_turn.name %>'s turn, pick a move: <h2>
      <br>
    <a id="poischeck" class="ok">OK</a>
    <a id="nextturn" class="ok">OK</a>
    <a id="compturn" class="ok">OK</a>
  </div>
  <div id="move-selector" align="center">
    <a class="attack-button" id="normal">NORMAL ATTACK / Damage: 15 / Accuracy: 100</a>
    <br><br><br>
    <a class="attack-button" id="lucky">LUCKY ATTACK / Damage: 5-40 / Accuracy: 100</a>
    <br><br><br>
    <a class="attack-button" id="poison">POISON ATTACK / Damage: 5 / Accuracy: 100 (Poisoned 3-6 Turns)</a>
    <br><br><br>
    <a class="attack-button" id="lightning">LIGHTNING ATTACK / Damage: 10 / Accuracy: 80 (Paralysed 3-5 Turns)</a>
    <br><br><br>
    <a class="attack-button" id="psychic">PSYCHIC ATTACK / Damage: 5 / Accuracy: 50 (Asleep 1-3 Turns)</a>
    <br><br><br>
    <a class="attack-button" id="heal">RECOVER / Heals user by 5-35HP (must have lower than 100HP)</a>
  </div>

  <script src="src/interface.js"></script>
</body>
