<style>
  * {
 font-family: Tahoma;
}
</style>

<div align="center">
  <h1 style="font-family: Tahoma;"> <%= @game.player_1.name.upcase %> vs. <%= @game.player_2.name.upcase %> </h1>
</div>
<div align="right">
  <h2> <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP </h2>
</div>
<div align="left">
  <h2> <%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP </h2>
</div>
<div align="center">
  <h1> <%= @game.current_turn.name %>'s turn </h1>
  <form action="/attack">
    <input type="submit" value="Tackle">
  </form>
  <form action="/rand-attack">
    <input type="submit" value="Lucky Strike">
  </form>
</div>
